<!DOCTYPE html>
<html lang="en">
<head>
	<title>HomeAutomation</title>
	<meta charset="utf-8" />
	{% load staticfiles %}

	<link rel="stylesheet" href= "{% static "main/style.css"%}" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body class="body">
	<header class="mainHeader">
		<nav><ul>
		{% block main-nav %}
			<li class="active"><a href="/">Rooms</a></li>
			<li><a href="#">Vents</a></li>
			<li><a href="#">Calendar</a></li>
			<li><a href="#">Data</a></li>
		{% endblock %}
		</ul></nav>
	</header>
		
	<div class="mainContent">
		<div class="content">	
			{% block content %}
			{% endblock %}
		</div>
		<div class="left-sidebar">
			<nav><ul>
				{% block left-nav %}
				{% endblock %}
			</ul></nav>
		</div>
	</div>
	
	<footer class="mainFooter">
		<p>Copyright &copy; 2015 <a href="http://github.com/aleedom/homeautomation">Andy Leedom</a></p>
	</footer>

</body>
</html>
