{% extends "main/base_room.html" %}
{% block content %}
	<div class="detail_left">
		<h1> {{ current_room.name }} </h1>
		<p><b><u>Current Temperature:</u></b> {{temp_current}}</p>
		<p><b><u>Highest recorded Temperature:</u></b> {{temp_high}}</p>
		<p><b><u>Lowest Recorded Temperature:</u></b> {{temp_low}}</p>
		<p><b><u>Sensor_id:</u></b> {{sensor_id}}</p>
		<button type="button" onclick="location.href='/rooms/{{current_room.id}}/update'">Edit</button>
		<button type="button" onclick="location.href='/rooms/{{current_room.id}}/delete'">Delete</button>
	</div>
	<div class="detail_right">
	</div>
{% endblock %}


{% block left-nav %}
	<li><a href="/">Summary</a></li>
	{% for room in room_list %}
		{% if current_room.name == room.name %}
		<li class="active"> <a href="/rooms/{{room.id}}">{{room.name }}</a></li>
		{% else %}
		<li> <a href="/rooms/{{room.id}}">{{room.name }}</a></li>
		{% endif %}
	{% empty %}
	{% endfor %}
	<li><a href="/rooms/create">Add Room</a></li>
{% endblock %}
