{% extends "main/base_room.html"%}

{% block content %}
<h1> Delete Room </h1>
<div class="room-form">
	<form action="" method="post">{% csrf_token %}
		<p>Are you sure you want to delete "{{object}}"?</p>
		<input type="submit" value="Confirm" />
		<input type="submit" name="Cancel" value="Cancel" />
	</form>
</div>
{% endblock %}

{% block left-nav %} 
	<li><a href="/">Summary</a></li>
	{% for room in room_list %}
	<li> <a href="/rooms/{{room.id}}">{{ room.name }}</a></li>
	{% empty %}
	{% endfor %}
	<li class="active"><a href="/rooms/create">Add Room</a></li>
{% endblock %}
