{% extends "main/base.html" %}
{% block main-nav %}
	<nav><ul>
		<li><a href="/">Home</a></li>
		<li class="active"><a href="/rooms">Rooms</a></li>
		<li><a href="#">Blog</a></li>
		<li><a href="#">Contact</a></li>
	</ul></nav>
{% endblock %}
{% block content %}
<h2>Room List</h2>
{% if room_list %}
	<ul>
	{% for room in room_list %}
	<li><a href="/rooms/{{ room.id }}">{{ room.name }}</a></li>
	{% endfor %}
	</ul>
{% else %}	
	<p>No Rooms have been created yet.</p>
{% endif %}
<button type="button" onclick="location.href='/rooms/create'">Create Room</button>
{% endblock %}
